.userCard {
  border: 2px solid palevioletred;
  border-radius: 19px;
  background-color: rgb(119, 119, 199);
}

.userCard h3 {
  padding: 2px 5px;
  border-bottom: 2px solid rebeccapurple;
  background: transparent;
  color: rgb(68, 63, 63);
  span {
    color: rgb(9, 90, 9);
  }
}

.list-group a {
  background-color: rgb(93, 177, 129);
  color: rgb(235, 235, 14);
}
